
*.DS_Store

# Windows image file caches
Thumbs.db
ehthumbs.db

dist/

# Thumbnails
._*

# epub file 
*.epub

# Node.js modules
node_modules/

# sass/scss cache
.sass-cache/

# dev folder
tmp/

# npm debug log
npm-debug.log
# package-lock.json

# sublimetext project settings
*.sublime-workspace
*.sublime-project