@use 'sass:math';

/*
 * 欧文フォント
 */
@mixin font-mincho {
  font-family: 'Shippori Mincho', serif;
}

/*
 * フォント単位変換（px -> rem)
 */
@function convert-unit($size) {
	@return math.div($size, 16) * 1rem;
}

/*
 * fontサイズ指定（PC/SP)
 */
@mixin font-size($pc, $sp:null) {
  font-size: convert-unit($pc);

  @if($sp) {
    @include sp {
      font-size: convert-unit($sp);
    }
  }
}
